@import url("http://fonts.cdnfonts.com/css/uncracked-free-trial");

.instructions {
  font-family: "Uncracked Free Trial";
  text-align: center;
  color: #793a1b;
  font-size: 36px;
  width: 200px;
  height: 73px;
  box-shadow: 3px 3px 3px 3px #793a1b;
  border-radius: 16px;
  padding: 10px;
  position: absolute;
  top: 75%;
  left: 9%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
